<h1 style="text-align: center;">Update name</h1>
<form [formGroup]="playerUpdateForm">
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Player's name to update</mat-label>
            <mat-select [formControl]="nameControl" required>
                <mat-option *ngFor="let name of player" [value]="name">
                    {{name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width">
            <mat-label>New player name</mat-label>
            <input matInput required id="name_update" formControlName="name_update">
        </mat-form-field>
    </div>

    <div style="display:flex; justify-content:space-around">
        <button style="background-color: burlywood;" mat-dialog-close (click)="onClickUpdatePlayerButton()"
            mat-raised-button [disabled]="playerUpdateForm.invalid">
            <mat-icon>update</mat-icon>Update
        </button>
    </div>
</form>